* {
	cursor: url("src/images/cursor.png"), default;
}

body {
	/* Helvetica for fallback*/
	font-family: Varela Round, Helvetica;
	font-size: 2.5vh;
	background: #444;
	margin: 0;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

.top-bar-text {
	display: inline;
	color: #e4ecef;
	padding: 2.23vh;
	border-collapse: collapse;
	margin: 0;
	float: left;
	transition: background 0.5s ease;
}

.gamemode-icons {
	padding: 1.6vh;
	border-radius: 100px;
}

#avatar {
	width: 6vh;
	margin-top: 0.75vh;
	border-radius: 1vh;
}

#audio-visualiser {
	z-index: 5;
	position: absolute;
	top: calc(50vh - 90vh / 2);
	left: calc(5vw + 50vw - 90vh / 2);
	transition: top 0.5s, left 0.5s, width 0.5s;
	transition-timing-function: cubic-bezier(0, .65, .6, 1.3);
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 4vw;
	height: 1vw;
	border-radius: 1vw;
	border: 0.4vh solid #FD67AE;
	background: #0d0d0d;
	margin-top: calc(3.3vh / 2);
	outline: none;
	position: relative;
	top: -1vh;
	transition: background 0.2s ease, border-color 0.2s ease, box-shadow 0.1s ease;
}

.slider::-webkit-slider-thumb:hover {
	/*background: #FD67AE;*/
	border-color: #ffc4ff;
	box-shadow: -3px -3px 6px #FD67AE55, 3px -3px 6px #FD67AE55, 3px 3px 6px #FD67AE55, -3px 3px 6px #FD67AE55;
}

.slider::-webkit-slider-thumb:hover:active {
	background: #ffc4ff;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	outline: none;
	height: 0.4vh;
	border-radius: 2.5vh;
	margin-top: 1vh;
	background: linear-gradient(to right, #FD67AE 0%, #FD67AE 100%);
}

.checkbox {
	width: 4vw;
	height: 1vw;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 1vw;
	vertical-align: middle;
	border: 0.4vh solid #FD67AE;
	margin-top: 1.5vh;
	-webkit-appearance: none;
	outline: none;
	transition: width 0.2s ease, border-color 0.2s ease, background-color 0.2s ease, box-shadow 0.1s ease;
}

.checkbox:hover {
	width: 5vw;
	border-color: #ffc4ff;
	box-shadow: -5px -5px 10px #FD67AE99, 5px -5px 10px #FD67AE99, 5px 5px 10px #FD67AE99, -5px 5px 10px #FD67AE99;
}

.checkbox:checked {
	background-color: #FD67AE;
}

.checkbox:checked:hover {
	background-color: #ffc4ff;
}

.settings-button {
	width: 100%;
	outline: none;
	border-radius: 1.5vh;
	background: url("src/images/triangles.png"), #2ca4cc;
	background-size: 25vw;
	color: #e4ecef;
	text-align: center;
	font-family: inherit;
	font-size: 1vw;
	border: none;
	margin-bottom: 1vh;
	height: calc(5vh + 1em);
	transition: background 0.2s;
}

.red {
	background: url("src/images/triangles.png"), #FD67AE;
	background-size: 25vw;
}

.blue {
	background: url("src/images/triangles.png"), #2ca4cc;
	background-size: 25vw;
}

.settings-button.red:hover {
	background: url("src/images/triangles.png"), #ff9ccb;
	background-size: 25vw;

}

.settings-button.blue:hover {
	background: url("src/images/triangles.png"), #45b0de;
	background-size: 25vw;

}

#background-blur {
	position: absolute;
	z-index: -10;
	transition: filter 0.5s, opacity 1s;
}

#background-dim {
	position: absolute;
	z-index: -10;
	transition: filter 0.5s;
}

#background {
	z-index: -10;
	object-fit: cover;
	top: -5vh;
	left: -5vh;
	width: 110vw;
	height: 110vh
}

#top-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 7.5vh;
	background: url("src/images/triangles.png"), #191919;
	background-size: 25vw;
}

#bottom-bar {
	position: fixed;
	top: calc(100vh - 3vh);
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 3vh;
	background: url("src/images/triangles.png"), #222;
	background-size: 25vw;
	clip-path: polygon(43% 0, 57% 0, 62% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 38% 50%);
}

#logo {
	z-index: 50;
	width: 40vh;
	background: url('src/images/triangles.png'), #FD67AE;
	background-size: 50vh;
	border-radius: 50%;
	transition: width 0.5s, top 0.5s, left 0.5s, background-size 0.5s, filter 0.5s;
	transition-timing-function: cubic-bezier(0, .65, .6, 1.3);
	position: absolute;
	/* if javascript isn't enabled*/
	top: calc(50vh - 20vh);
	left: calc(50vw - 20vh);
}

#version {
	z-index: 15;
	position: relative;
	top: -2.5vh;
	color: #e4ecef;
	width: 100vw;
	text-align: center;
}

#sidenav::-webkit-scrollbar-track {
	background-color: #222;
	/*border-radius: 10px;*/
}

#sidenav::-webkit-scrollbar {
	width: 1vw;
}

#sidenav::-webkit-scrollbar-thumb {
	border-radius: 1vw;
	background: #555;
}

#sidenav::-webkit-scrollbar-thumb:hover {
	background: #666;
}

#sidenav::-webkit-scrollbar-thumb:hover:active {
	background: #777;
}

#sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 16;
	height: 100vh;
	left: 0;
	background: #0d0d0d;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: 0.3s;
	opacity: 0;
}

#sidenav p,
#sidenav a {
	padding: 1vh;
	margin: 0;
	white-space: nowrap;
	text-decoration: none;
	font-size: 1vw;
	color: #e4ecef;
}

#sidenav #close-btn {
	position: absolute;
	top: 0;
	right: 1vw;
	font-size: 2vw;
	margin-left: 50px;
}

.sidenav-title-text {
	color: #f8c621 !important;
	font-size: 2vw !important;
}

#sidenav-padding {
	padding: 2.5%;
}

.sidenav-divider {
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding: 0.25vh;
	background: #000;
}

.character {
	margin: auto;
	display: inline-block;
	width: 1.5vh;
	height: 1.5vh;
	text-align: center;
	border-radius: 1.5vh;
	border: 0.4vh solid #FD67AE;
	background: #0d0d0d;
	transition: background 0.2s ease, border-color 0.2s ease, box-shadow 0.1s ease;
}

.character:hover {
	border-color: #ffc4ff;
	box-shadow: -3px -3px 6px #FD67AE55, 3px -3px 6px #FD67AE55, 3px 3px 6px #FD67AE55, -3px 3px 6px #FD67AE55;
}

.inline-block {
	display: inline-block;
}

.float-right {
	float: right;
}

#splash-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	text-align: center;
	padding-top: calc(50vh - 3em);
	background: #000;
	z-index: 1000;
	color: #000;
	transition: opacity 1s;
}

@keyframes splash-screen-text {
	0% {
		color: #000;
		letter-spacing: 3px;
	}
	100% {
		color: #e4ecef;
		letter-spacing: 0px;
	}
}

.lds-heart {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	transform: rotate(45deg);
	transform-origin: 40px 40px;
}

.lds-heart div {
	top: 32px;
	left: 32px;
	position: absolute;
	width: 32px;
	height: 32px;
	background: #FD67AE;
	animation: lds-heart 0.7s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
	content: " ";
	position: absolute;
	display: block;
	width: 32px;
	height: 32px;
	background: #FD67AE;
}

.lds-heart div:before {
	left: -24px;
	border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
	top: -24px;
	border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
	0% {
		transform: scale(0.95);
	}
	5% {
		transform: scale(1.1);
	}
	39% {
		transform: scale(0.85);
	}
	45% {
		transform: scale(1);
	}
	60% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(0.9);
	}
}

#menu-parallax {
	position: relative;
	transition: filter 0.5s;
}

#menu-bar {
	display: inline-block;
	position: relative;
	width: 120vw;
	top: 50vh;
	opacity: 0;
	background-color: #323232;
	transition: opacity 0.2s, top 0.2s;
}

.menu-bar-buttons-parent {
	display: inline-block;
	text-align: center;
	position: relative;
	color: #e4ecef;
	border-collapse: collapse;
	margin: 0;
	float: left;
	box-sizing: border-box;
	width: 10vw;
	height: calc(10vh + 1em);
	white-space: nowrap;
	transition: padding 0.2s, width 0.2s, left 0.2s;
	transition-timing-function: cubic-bezier(.0, .7, .65, 1.9);
	transform: skewX(-20deg);
	z-index: 9;
	-webkit-box-shadow: inset 5px 0px 5px -1px #0004;
	-moz-box-shadow: inset 5px 0px 5px -1px #0004;
	box-shadow: inset 5px 0px 5px -1px #0004;
}

.menu-bar-anti-skew {
	transform: skewX(20deg);
}

.menu-bar-buttons {
	font-size: 2vh;
	overflow: hidden;
}

.menu-bar-buttons-icon {
	width: 4vh;
	margin: auto;
	transform-origin: center center;
}
.menu-bar-buttons-icon-animation {
	animation-name: icon-rotate;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes icon-rotate {
	0% {
		transform: rotate(15deg);
	}
	25% {
		transform: rotate(-15deg);
	}
	50% {
		transform: rotate(15deg);
	}
	75% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(15deg);
	}
}

.menu-bar-image-move {
	position: relative;
	bottom: 1vh;
}

.menu-bar-image-move-animation {
	animation-name: icon-bounce;
	animation-duration: 375ms;
	animation-timing-function: cubic-bezier(0.68, -0.2, 0.32, 1.2);
	animation-iteration-count: infinite;
}

@keyframes icon-bounce {
	0% {
		bottom: 1vh;
		transform: scaleY(0.9);
	}
	50% {
		bottom: 2.5vh;
		transform: scaleY(1);
	}
	100% {
		bottom: 1vh;
		transform: scaleY(0.9);
	}
}

#menu-right-side {
	position: absolute;
	left: 39vw;
}

#menu-bar-play {
	background-color: #6644cc;
}

#menu-bar-edit {
	background-color: #eeaa01;
}

#menu-bar-direct {
	background-color: #a5cc01;
}

#menu-bar-exit {
	background-color: #ee3499;
}

#menu-bar-settings {
	left: 20vw;
	background-color: #555555;
}

.menu-bar-buttons-parent:hover {
	width: 17.5vw;
}

#menu-bar-settings:hover {
	left: 12.5vw;
}

.select-box-selected-container {
	background: #060606;
	border-radius: 1vh;
	margin-bottom: 1vh;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	padding-right: 0.5vw;
	transition: background 0.2s;
}

.select-box-selected-container:hover {
	background: #FD67AE;
}

.select-box-selected {
	display: inline-block;
}

.select-box-arrow {
	display: inline-block;
	float: right; 
	transform: scale(2.25, 1.25);
}

.select-box-selections {
	height: 0px;
	opacity: 0;
	padding: 2.5% 0 2.5% 0;
	width: 100%;
	background: #060606;
	border-radius: 1vh;
	overflow: hidden;
	transition: height 0.3s, opacity 0.3s;
}

.select-box-selections p {
	padding: 0.5vh !important;
	margin: 0 1vh 0 1vh !important;
	border-radius: 1vh;
	transition: background 0.2s;
}

.select-box-selections p:hover {
	background: #FD67AE;
}

.selected {
	background: #FD67AE;
}

#frame-rate {
	position: absolute;
	bottom: 1vh;
	right: 1vh;
	font-size: 0.75vw;
	font-family: Varela Round, Helvetica;
	color: #fff;
	margin: 0;
	padding: 0.5em;
	border-radius: 1em;
	background: #0f0;
	transition: background 1s, opacity 1s;
	z-index: 100;
}