#webpage-state-beatmap-selection {
	display: none;
}

#webpage-state-gameplay {
	display: none;
}

#webpage-state-pause-screen {
	display: none;
}

#webpage-state-fail-screen {
	display: none;
}

#webpage-state-beatmap-end-screen {
	display: none;
}

* {
	cursor: url("src/images/cursor.png"), default;
}

body {
	cursor: url("src/images/cursor.png"), default;
	/* Helvetica for fallback*/
	font-family: Varela Round, Helvetica;
	font-size: 2.5vh;
	background: #444;
	margin: 0;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

#version {
	z-index: 15;
	position: relative;
	top: -2.5vh;
	color: #e4ecef;
	width: 100vw;
	text-align: center;
}

::-webkit-scrollbar-track {
	background-color: #222;
	/*border-radius: 10px;*/
}

::-webkit-scrollbar {
	width: 1vw;
}

::-webkit-scrollbar-thumb {
	border-radius: 1vw;
	background: #555;
}

::-webkit-scrollbar-thumb:hover {
	background: #666;
}

::-webkit-scrollbar-thumb:hover:active {
	background: #777;
}