#background-blur {
	position: absolute;
	z-index: -10;
	transition: filter 0.5s, opacity 1s;
}

#background-dim {
	position: absolute;
	z-index: -10;
	transition: filter 0.5s;
}

#background {
	z-index: -10;
	object-fit: cover;
	top: -5vh;
	left: -5vh;
	width: 110vw;
	height: 110vh;
}

.gamemode-icons {
	padding: 1.6vh;
	border-radius: 100px;
}

#avatar {
	width: 6vh;
	margin-top: 0.75vh;
	border-radius: 1vh;
}

.settings-button {
	width: 100%;
	outline: none;
	border-radius: 1.5vh;
	background: url("../../src/images/triangles.png");
	background-color: #2ca4cc;
	background-size: 25vw;
	color: #e4ecef;
	text-align: center;
	font-family: inherit;
	font-size: 1vw;
	border: none;
	margin-bottom: 1vh;
	height: calc(5vh + 1em);
	transition: background 0.2s;
}

.settings-button .red:hover {
	background: url("../../src/images/triangles.png");
	background-color: #ff9ccb;
	background-size: 25vw;

}

.settings-button .blue:hover {
	background: url("../../src/images/triangles.png");
	background-color: #45b0de;
	background-size: 25vw;

}

#splash-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	text-align: center;
	padding-top: calc(50vh - 3em);
	background: #000;
	z-index: 1000;
	transition: opacity 1s;
}

#splash-screen p {
	color: #000;
}

#orientation-vertical {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	text-align: center;
	padding-top: calc(50vh - 1em);
	background: #000;
	z-index: 1500;
	color: #fff; 
}

@keyframes splash-screen-text {
	0% {
		color: #000;
		letter-spacing: 3px;
	}
	100% {
		color: #e4ecef;
		letter-spacing: 0px;
	}
}

@keyframes splash-screen-text-2 {
	0% {
		color: #000;
		letter-spacing: 3px;
	}
	100% {
		color: #FD67AE;
		letter-spacing: 0px;
	}
}

#menu-parallax {
	position: relative;
	transition: filter 0.5s;
}

#sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 101;
	height: 100vh;
	left: 0;
	background: #0d0d0d;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: 0.7s;
	transition-timing-function: cubic-bezier(0.15, 0.6, 0.3, 1);
	opacity: 0;
}

#sidenav p,
#sidenav a {
	padding: 1vh;
	margin: 0;
	white-space: nowrap;
	text-decoration: none;
	font-size: 2.2vh;
	color: #e4ecef;
}

#sidenav #close-btn {
	position: absolute;
	top: 0;
	right: 1vw;
	font-size: 3.3vh;
	margin-left: 50px;
}

.sidenav-title-text {
	color: #f8c621 !important;
	font-size: 3.3vh !important;
}

#sidenav-padding {
	padding: 2.5%;
}

.sidenav-divider {
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding: 0.25vh;
	background: #000;
}

.character {
	margin: auto;
	display: inline-block;
	width: 1.5vh;
	height: 1.5vh;
	text-align: center;
	border-radius: 1.5vh;
	border: 0.4vh solid #FD67AE;
	background: #0d0d0d;
	transition: background 0.2s ease, border-color 0.2s ease, box-shadow 0.1s ease;
}

.character:hover {
	border-color: #ffc4ff;
	box-shadow: -3px -3px 6px #FD67AE55, 3px -3px 6px #FD67AE55, 3px 3px 6px #FD67AE55, -3px 3px 6px #FD67AE55;
}

.lds-heart {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	transform: rotate(45deg);
	transform-origin: 40px 40px;
}

.lds-heart div {
	top: 32px;
	left: 32px;
	position: absolute;
	width: 32px;
	height: 32px;
	background: #FD67AE;
	animation: lds-heart 0.7s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
	content: " ";
	position: absolute;
	display: block;
	width: 32px;
	height: 32px;
	background: #FD67AE;
}

.lds-heart div:before {
	left: -24px;
	border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
	top: -24px;
	border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
	0% {
		transform: scale(0.95);
	}
	5% {
		transform: scale(1.1);
	}
	39% {
		transform: scale(0.85);
	}
	45% {
		transform: scale(1);
	}
	60% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(0.9);
	}
}

#frame-rate {
	position: absolute;
	bottom: 1vh;
	right: 1vh;
	font-size: 1.25vh;
	font-family: Varela Round, Helvetica;
	color: #fff;
	margin: 0;
	padding: 0.5em;
	border-radius: 1em;
	background: #0f0;
	transition: background 1s, opacity 1s;
	z-index: 100;
}

.triangle-background {
	background-attachment: fixed;
}

#goodbye {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0;
	z-index: -10000;
	transition: opacity 4s;
}

#intro {
	color: #e4ecef;
	background: #000;
	position: absolute;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	transition: opacity 0.75s;
}

#intro-logo {
	position: absolute;
	top: calc(50vh - 175vh / 2);
	left: calc(50vw - 175vh / 2);
	width: 175vh;
	height: 175vh;
	transition: left 0.8s, top 0.8s, width 0.8s, height 0.8s;
	transition-timing-function: cubic-bezier(0.8,.4,.85,.3);
}

#intro-text {
	text-align: center;
	position: relative;
	top: calc(50vh - 1em);
	font-size: 5vh;
	font-family: Varela Round;
	letter-spacing: 0px;
	transition: letter-spacing 0.8s;
	transition-timing-function: linear;
}

.intro-gamemodes {
	position: absolute;
	top: -10vh;
	width: 4vh;
	transition-timing-function: linear;
}

polygon {
	fill-opacity: 0;
	stroke-opacity: 0;
	animation-fill-mode: forwards;
}

@keyframes fade-in-out {
	0% {
		fill-opacity: 0;
		stroke-opacity: 0;
	}
	20% {
		fill-opacity: 1;
		stroke-opacity: 1;
	}
	100% {
		fill-opacity: 0;
		stroke-opacity: 0;
	}
} 

